html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: whitesmoke;
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  -webkit-filter: grayscale(100%);
  border: 2px solid whitesmoke;
}

.topnav {
  overflow: hidden;
}
.topnav a {
  float: initial;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.arrow {
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 40px;
}

.skills {
  margin: 10%;
}

.connect {
  margin: 10%;
}

.social {
  margin: 10%;
}

.top {
  margin-top: 10%;
}

.footer {
  margin: 10%;
}
