/* smooth navigation jumping */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* phone size */
@media screen and (max-width: 400px) {
  img {
    max-width: 100%;
  }
  .topnav {
    margin-bottom: 20%;
    float: none;
  }
  main {
    width: 100%;
    justify-content: center;
  }
}

/* ipad size */
@media screen and (max-width: 800px) {
  img {
    max-width: 100%;
  }
  .topnav {
    margin-bottom: 20%;
  }
}

/* smaller structure */
body {
  background-color: black;
  color: whitesmoke;
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* image morphing */

img {
  -webkit-filter: grayscale(100%);
  border: 2px solid whitesmoke;
  border-radius: 50%;
}
/* navigation */

.topnav {
  overflow: hidden;
  margin-bottom: 20%;
}
.topnav a {
  float: initial;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*  back to top arrow  */
.arrow {
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 40px;
}

/* content spacing */

.skills .connect .social .footer {
  margin: 10%;
}

.top {
  margin-top: 10%;
}
